.addProduct {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #66CCFF;
  color: #000;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

.addProduct:hover {
  background-color: #3388CC;
  color: #fff;
}

/* Estilo para cuando se presiona el botón */
.addProduct:active {
  background-color: #66CCFF;
}

/* Estilos para las categorías */
.categorias {

  display: flex;
  flex-direction: column;
  /* Mostrar las categorías una debajo de la otra */
  margin-bottom: 20px;
}

span {
  padding: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 10px;
  display: block;
  /* Hacer que cada categoría ocupe una línea completa */
}

/* Estilo para la categoría seleccionada */
span:focus {
  background-color:#343435;
  /* Color de fondo personalizable */
  color: #fff;
  /* Color del texto personalizable */
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 30px;
}

.titulocat {
  margin-top: 20px;
}