/* En tu archivo CSS o en el componente */
.product-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-y: scroll;
}

.product-card {
  display: inline-block;
  vertical-align: top;
  flex-direction: row;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 188px;
  background: rgb(3 109 119 / 62%);
  /* background: linear-gradient(to bottom, red, orange, yellow); */
  border: solid 1px black;
  color: white;
  font-size: 12px;
}

.product-image img {

  height: 70px;


  object-fit: contain;
}

.product-details {
  display: block;
  text-align: left;
}

/* Agrega este CSS en tu archivo ProfilePage.css */

/* Estilo para ocultar inicialmente los detalles de los productos */
.product-details {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #10ccdd9e;
}

/* Estilo para mostrar los detalles de los productos cuando están abiertos */
.product-details.active {
  display: block;
}

.btn-delete {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bi-trash3-fill {
  font-weight: bold !important;
  font-size: 15px ! important;
  color: rgb(185, 49, 49) !important;
  margin-left: 151px;
}

.sticky-product {
  /* margin-left: 850px; */

  /* background-color: #fff; */
}