/* Estilos generales para la página de perfil */
.profile {
  display: flex;
  align-items: flex-start;
  margin-top: 60px;
  width: 100%;
  
}

/* Estilo para el card del perfil */
.profile-card {
  flex: 1;
  width: 300px; /* Ajusta el ancho del card de perfil */
  margin-right: 20px;
  margin-left: 70px;
  margin-top: 60px;
  /* border: 10px solid #000 !important; */
}


.fav-container, .sales-container {
  width: 500px !important;
  height: 480px; /* Tamaño deseado */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  overflow: auto; /* Agrega una barra de desplazamiento si es necesario */
  margin-top: 50px;
  margin-right: 20px;
  background-color:#e9ebee !important;
}

.fav-container h5, .sales-container h5 {
  margin-top: 0 !important; 
  background-color: rgba(102, 204, 255, 0.7) !important;
}

/* Estilos para las tarjetas de productos favoritos y productos en venta */
.product-card {
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(0);
  opacity: 1;
  display: flex;
  flex-direction: column; /* Cambia la dirección a columna para las tarjetas de productos */
  border: 1px solid #ccc;
  margin-bottom: 20px;
  
  padding: 10px;
  width: 100%; 
  height: 250px; /* Tamaño deseado de las tarjetas */
  background-color: rgba(102, 204, 255, 0.7);
  color: #FFF;
  font-size: 12px;
}

.product-card:hover {
  transform: scale(1.02); /* Escala la tarjeta al 105% de su tamaño original */
}
.titulofav{
width: 150px;
height: 50px;
overflow: hidden;
}

.product-img {
  width: 100%;
  height: 200px; /* Ajusta el alto de la imagen según tus preferencias */
  object-fit: contain;
}

/* Estilos para el título del producto */
.titleProducto {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

/* Estilo para mostrar los detalles de los productos cuando están abiertos */
.product-details.active {
  display: block;
  color: #157980;
}

/* Estilos generales para botones y otros elementos */
.btn-delete, .editProductPerfil {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  /* ... Otros estilos ... */
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  z-index: 9999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  /* Ajusta el ancho máximo según tus preferencias */
}

.toggle-product-details {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #007BFF;
}

.toggle-product-details.active {
  color: #10ccdd;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }

  .profile-card {
    width: 100%;
    margin: 0;
  }
}
