/* En tu archivo CSS o en el componente */
.product-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  display: inline-block;
  vertical-align: top;
  flex-direction: row;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 188px;
  background: linear-gradient(to bottom, red, orange, yellow);
  border: solid 1px black;
}

.product-image img {

  height: 104px;


  object-fit: contain;
}

.product-details {
  display: block;
  text-align: left;
}

/* Agrega este CSS en tu archivo ProfilePage.css */

/* Estilo para ocultar inicialmente los detalles de los productos */
.product-details {
  display: none;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

/* Estilo para mostrar los detalles de los productos cuando están abiertos */
.product-details.active {
  display: block;
}