.product-image {

    height: 70px;
    object-fit: contain;
    width: 100%;
    height: 70px;
    object-fit: cover;

}

.btnProducto {
    font-size: 10px
}

.ulListaProdutos {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    padding: 0px;
}

.liListaProdutos {
    background-color: rgb(3 109 119 / 72%);
    margin: 1%;
    width: 150px;
    padding: 5px;
    list-style: none;
    border: solid 1.5px black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 6px;
    /* font-weight: bold; */
    text-align: center;
    /* font-size: 24px; */
    color: #333;
    height: 200px;

}

.liListaProdutos p {
    margin: 2px;
}


/* Estilo para el botón de favoritos */
.favoritos-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #555555;
}

/* Estilo para el símbolo de corazón */
.coracao {
    color: red;
    margin-right: 5px;
    /* Espacio entre el corazón y el texto "Favorito" */
    font-size: 18px;
}


.detailTitle {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: -37px;
}

.detailText {
    display: grid;
    justify-items: start;
    padding: 10px;
    margin-right: 10px;
    width: max-content;
    margin-top: 15px;
}

.detailText p {
    margin: 1;
}

.disponible {
    background-color: green;
    color: aliceblue;
    padding: 5px;
}

.noDisponible {
    background-color: rgb(218, 12, 12);
    color: aliceblue;
    padding: 5px;
}

.divDetailProduct {
    margin: 15px;
    background-color: #5555557c;
    padding: 9px;
}

.product-images {
    display: flex;
    justify-content: center;
    margin-top: 70px
}

.images-individual {
    width: 150px;
    object-fit: contain;
    margin: 5px;
}

.none {
    display: none;
}

.active {
    display: block !important;
}



.categoria {
    display: block;
    width: 200px;
    padding-top: 1rem;
    background-color: rgb(3 109 119 / 72%);
    margin: 10px;
}

.pagProductos {
    display: flex;
}

.listado {
    width: 100%;
}

.searchbar {
    width: 97%;
    height: 30%;
    display: flex;
    height: 150px;
    align-items: center;
    background-image: url("https://i.pinimg.com/originals/6b/82/88/6b828845c1bc8135c38fe731701d08c3.jpg");
    background-size: contain;
    margin-top: 10px;
    justify-content: center;
}

.searchbar-input {
    width: 60%;
    margin: 10px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
}

.titleProducto {
    overflow: hidden;
    height: 27px;
}