.navBar a {
    margin: 15px;

}

/* .navBar span {
    color: rgb(18, 17, 17);
    background-color: #e4e4e4;
    padding: 2px;
    border: solid 1px black;
    border-radius: 1px;

} */

.navBar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66 143 150 / 71%);
    border-bottom: solid 2px rgb(66 143 150 / 71%);
    width: 97%;
    margin: 0px 10px;
}

.navBar button {
    display: contents;
}