.w-100 {
    width: 100% !important;
    height: 39vw !important;
    object-fit: cover !important;
}

.letrasportada {
    color: #FFF !important;
    margin-bottom: 50px !important;
}

.letrasportada2 {
    margin-bottom: 50px !important;
}